.bgColor {
  background-color: rgb(255, 227, 0);
}

.jumbo {
  background-color: rgb(255, 227, 0);
  padding: 4rem 2rem 4rem 0;
}

.header-primary {
  font-size: 32px;
  font-family: "Arial Black";
}

.btn {
  margin-left: 5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-primary {
    font-size: 45px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
