.container {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 768px;
  padding: 15px;
  margin: 15px;
}

.main {
  flex-direction: column;
  /* box-shadow: 0 15px 35px 0 rgba(42, 51, 83, 0.12),
    0 5px 15px rgba(0, 0, 0, 0.06); */
  /* box-shadow: 0 0 25px rgba(0, 0, 0, 0.35); */
}

.main:hover {
  transform: translateY(-5px);
  transition: all 0.15s ease;
}

.box {
  justify-content: center;
  box-shadow: 0 15px 35px 0 rgba(42, 51, 83, 0.12),
    0 5px 15px rgba(0, 0, 0, 0.06);
  padding-bottom: 56.25%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  background-image: url("https://picsum.photos/id/1019/5472/3648");
  background-size: cover !important;
}

.text {
  box-shadow: 0 15px 35px 0 rgba(42, 51, 83, 0.12),
    0 5px 15px rgba(0, 0, 0, 0.06);
  display: flex;
  padding: 1.5rem;
  flex: 1 !important;
  background: #fff;
  line-height: 1.25;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.text h3 {
  color: #0c1e29 !important;
  margin-bottom: 1rem !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
